@using MusicaLMFL.Modelo
@model List<LineaAuxiliar>
@{
    ViewBag.Title = "detalleFactura";
    Layout = "~/Views/Plantilla/Plantilla.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Libro</th>
                        <th>Cantidad</th>
                        <th class="text-center">Precio</th>
                        <th class="text-center">Subtotal</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        double total = 0;

                        foreach(LineaAuxiliar linea in Model)
                        {
                            total = total + linea.subTotal();

                            <tr>
                                <td class="col-sm-8 col-md-6">
                                    <div class="media">
                                        <a class="thumbnail pull-left" href="#"> <img class="media-object" src=@linea.Producto.Imagen style="width: 72px; height: 72px;"> </a>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">@linea.Producto.Nombre</a></h4>
                                        </div>
                                    </div>
                                </td>
                                <td class="col-sm-1 col-md-1" style="text-align: center">
                                    <input type="number" class="form-control" id="exampleInputEmail1" value="@linea.Cantidad" disabled>
                                </td>
                                <td class="col-sm-1 col-md-1 text-center"><strong>@linea.Producto.Precio</strong></td>
                                <td class="col-sm-1 col-md-1 text-center"><strong>@linea.subTotal()</strong></td>
                                <td class="col-sm-1 col-md-1"></td>
                            </tr>
                        }
                    }

                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>@total</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
