@model MusicaLMFL.Modelo.TDisco

@{
    ViewBag.Title = "verDisco";
    Layout = "~/Views/Plantilla/Plantilla.cshtml";
}

<div>
    <center><h4> DATOS DEL DISCO </h4></center>
</div>

<br /><br /><br />

<div class="container">
    <div class="row">
        <img border="1" alt="Portada" src=@Model.Imagen width="150" height="150">
    </div>
    <div class="row">
        <label class="col-sm-5">Título</label><span class="prop-border col-sm-7">@Model.Titulo</span>
    </div>
    <div class="row">
        <label class="col-sm-5">Autor</label><span class="prop-border col-sm-7">@Model.Autor</span>
    </div>
    <div class="row">
        <label class="col-sm-5">Numero de canciones</label><span class="prop-border col-sm-7">@Model.Canciones</span>
    </div>
    <div class="row">
        <label class="col-sm-5">Precio</label><span class="prop-border col-sm-7">@Model.Precio</span>
    </div>
    <div class="row">
        <label class="col-sm-5">Género</label><span class="prop-border col-sm-7">@Model.Genero</span>
    </div>
</div>


<!--@Html.ActionLink("AÑADIR AL CARRITO", "addCarrito", "Disco", new { CodDisco = Model.CodDisco, accion = "Consultar" }, null)-->
