@using MusicaLMFL.Modelo
@{
    ViewBag.Title = "modificarDisco";
    Layout = "~/Views/Plantilla/Plantilla.cshtml";
    TDisco disco = Model[0];
}

<h3 style="margin-bottom: 25px; text-align: center;">Modificar Disco</h3>


<div class="container">
    <div class="col-md-10">
        <div class="form-area">
            <form class="form" method="post">
                <img border="1" alt="Portada" src=@disco.Imagen width="150" height="150">
                <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input name="Titulo" type="text" maxlength="30" required="" class="form-control" placeholder="Título" id="titulo" value="@disco.Titulo" />
                </div>
                <div class="form-group">
                    <label for="autor">Autor</label>
                    <input name="Autor" type="text" maxlength="30" minlength="5" required="" class="form-control" placeholder="Autor" id="autor" value="@disco.Autor" />
                </div>
                <div class="form-group">
                    <label for="genero">Genero</label>
                    <select name="Genero" class="form-control" id="genero">
                        @foreach (TGenero genero in Model[1])
                        {
                            <option value="@genero.Genero">@genero.Genero</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="canciones">Canciones</label>
                    <input name="Canciones" type="text" required="" class="form-control" placeholder="Canciones" id="canciones" value="@disco.Canciones" />
                </div>
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input name="Precio" type="text" required="" class="form-control" placeholder="Precio" id="precio" value="@disco.Precio" />
                </div>
                <div class="form-group">
                    <label for="imagen">Imagen</label>
                    <input name="Imagen" type="text" required="" class="form-control" placeholder="Imagen" id="imagen" value="@disco.Imagen" />
                </div>
                <fieldset class="form-group">
                    <legend>Formato:</legend>
                    <input type="checkbox" name="Formatouno" value="Vinilo" @(disco.Formatouno == "N/A" ? "" : "checked") />Vinilo<br>
                    <input type="checkbox" name="Formatodos" value="CD" @(disco.Formatodos == "N/A" ? "" : "checked") />CD<br>
                    <input type="checkbox" name="Formatotres" value="Digipack" @(disco.Formatotres == "N/A" ? "" : "checked") />Digipack<br>
                </fieldset>
                <fieldset class="form-group">
                    <legend>Estado: </legend>
                    <input type="radio" name="Estado" value="Novedad" @(disco.Estado == "Novedad" ? "checked" : "") />Novedad<br />
                    <input type="radio" name="Estado" value="Reedición" @(disco.Estado == "Reedición" ? "checked" : "") />Reedición<br />
                </fieldset>
                <br>
                <div class="submit">
                    <input type="submit" value="Modificar Datos" class="btn btn-primary pull-right" id="button-blue" />
                    <div class="ease"></div>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>








